.dashboard-container {
  padding: 20px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters label {
  margin-right: 10px;
}

.graphs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow for responsive layout */
}

.graph {
  flex: 1 1 45%; /* Adjust width and responsiveness */
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
